<!-- Main Feed -->
<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
<div class="large-10 columns">
	<h1>Welcome#index</h1>
	<p>Find me in app/views/welcome/index.html.erb</p>
</div>
<!-- End Feed Entry -->