<div class="row">
	<div class="large-12 columns">
		<div class="form-video"><img src="http://placehold.it/200x145&amp;text=video"></div>
		<%= f.text_field :url, placeholder: "Add a video url" %>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<%= f.submit "Create", class:"button tiny"  %>
		<a href="#" class="button tiny secondary" id="item-create-cancel">Cancel</a>
	</div>
</div>
