<div class="row">
	<div class="large-12 columns">
		<%= f.text_field :title, placeholder: "Add a title" %>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<%= f.submit "Create", class:"button tiny"  %>
		<a href="#" class="button tiny secondary" id="item-create-cancel">Cancel</a>
	</div>
</div>
