$('.item-form #title').attr('class','hide');
$('.item-list').prepend('<div class="item-spacing" id="item-<%= @item.id %>"></div>')
$('#item-<%= @item.id %>').html("<%= escape_javascript( render @item ) %>");